CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea
.vs
*debug*
*release*
Binaries
CMakeQtPath*.txt
CMakeLists.txt.user
