#include "VersionInfo.h"
#include "../Libraries/Shared/Shared.rc"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST  "../Libraries/Shared/Shared.manifest"
IDI_ICON1               ICON    DISCARDABLE     "AFL-Converter.ico"
